<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="stylesheet" href="/styles/result.css" />
  <script defer src="/scripts/result.js"></script>
  <title>Results Page</title>
</head>
<body>

<%- include('partials/_header') %>

<section class="page-content">
  <div class="quiz-questions">
    <h1>Questions Details : </h1>
    <h1>
      <%= quiz.quiz_name%>
    </h1>
    <h1 class="descriptionQuiz">
      <%= quiz.quiz_desc%>
    </h1>
    <div class="user-answer">
      <% for (const answer of userAnswers) { %>
        <div class="userAnswer">
          <h1 class="answerTitle">User Answers <%= answer.question_id %> </h1>
          <label for="user_answer1"><%= answer.answer %></label><br>
        </div>
        <% }%>
    </div>

    <div class="quiz-answers">
      <% for (const answer of correctAnswers) { %>
        <div class="answer">
          <h1 class="answerTitle">Correct Answers <%= answer.question_id %> </h1>
          <label for="quiz_answer1"><%= answer.answer%></label><br>
        </div>
        <% }%>
    </div>
    <div class="result-buttons">
      <h1>Results: <%= correctCount %>/<%= totalQuestions %> = <%= score %>%</h1>
      <button type="button" id="urlLink">Share</button>
    </div>
  </div>
  </div>
</section>
</body>
</html>
